<header class="navbar site-navbar" role="navigation">
  <nav class="menu" aria-label="Main Navigation">
    <a class="logo" href="{{ .Site.Home.Permalink }}" aria-label="{{ site.Title }}">
      {{ partial "svgs/home.svg" (dict "height" 25 "width" 25) . }}
    </a>
    <a id="mode" href="javascript:void(0)" aria-label="切换深浅主题" class="theme-switch">
      {{ partial "svgs/sun.svg" (dict "height" 21 "width" 21 "class" "mode-sunny" "title" "LIGHT") . }}
      {{ partial "svgs/sun.svg" (dict "height" 21 "width" 21 "class" "mode-moon" "title" "DARK") . }}
    </a>
    <input type="checkbox" id="menu-trigger" class="menu-trigger">
    <label for="menu-trigger" aria-label="菜单"><span class="menu-icon">{{ partial "svgs/menu.svg" (dict "height" 25 "width" 25) . }}</span></label>
    <div class="trigger">
      <ul class="trigger-container">
        {{- $currentPage := . -}}
        {{- range .Site.Menus.main }}
        <li><a class="menu-link {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
          {{- if .HasChildren }}<ul>{{ range .Children }}<li><a class="menu-link" href="{{ .URL }}">{{ .Name }}</a></li>{{ end }}</ul>{{ end }}
        </li>
        {{- end }}
        <li class="menu-separator"><span aria-hidden="true">|</span></li>
        {{- if .IsTranslated }}
        <li><select aria-label="Select Language" class="lang-list" id="select-language" onchange="location = this.value;">
          {{- range .Page.AllTranslations }}<option value="{{ .Permalink }}" {{ if eq .Lang $.Page.Lang }}selected{{ end }}>{{ .Language.LanguageCode | upper }}</option>{{ end }}
        </select></li>
        <li class="menu-separator"><span aria-hidden="true">|</span></li>
        {{- end }}
      </ul>
    </div>
  </nav>
</header>
